# Optional - for custom proxy (mobile-app now fetches calendar/news directly)
# API_BASE_URL=http://localhost:3000
API_CHART_URL=https://mirroto-market.muskcoin.io
SOCKET_CHART_URL=wss://mirroto-market.muskcoin.io
MIRROTO_API_BASE_URL=https://mirroto-api.muskcoin.io
GOOGLE_WEB_CLIENT_ID=675700031980-f139jja75cgrenbrinjht39r3e2b0g5g.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=675700031980-o67svn7m455sqa11t293u7cob2am81pe.apps.googleusercontent.com